<nav class="navbar navbar-expand-lg bg-green-800 site-navbar">
    <div class="container-fluid h-100">
        <a class="navbar-brand h-100" href="/"><img class="h-100" src="/images/logo-green-50.png" alt="Logo do Ombro Amigo"></a>
      <button class="navbar-toggler border-0" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbarggler-icon text-green-200">+</span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link text-green-200"  href="#">Início</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-green-200" href="/posts">Artigos</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-green-200" href="#">Sobre nós</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-green-200" href="#">Recursos</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>