{{ define "extrahead" }}
<link rel="stylesheet" href="/styles/index.css" />
{{ end }}
{{ define "main" }}
<div
  class="hero-page d-flex justify-content-center align-items-md-center flex-column container-fluid"
>
  <div class="row align-items-center justify-content-md-center">
    <div class="col-md-7 my-5">
      <h1 class="display-1 d-inline fw-bold text-md-center">
        CONTRA O SILÊNCIO.
      </h1>
    </div>
  </div>
  <div class="row justify-content-start">
    <div class="col-md-12 col-sm-5">
      <a href="/" class="btn btn-lg btn-primary w-100">Quero denunciar!</a>
    </div>
  </div>
</div>
<div class="bg-purple-300 py-5">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-8">
        <img
          class="title-image"
          src="/images/people_hugging_color.svg"
          alt="Emoji de um abraço"
        />
        <h1>Aprenda</h1>
        <p>
          Nosso portal foi criado com o propósito de ser um espaço seguro e
          acolhedor para quem busca informações, apoio e recursos relacionados
          ao enfrentamento do assédio e outros tipos de violência. Acreditamos
          que a conscientização é o primeiro passo para a mudança, e por isso
          oferecemos conteúdos educativos, canais de denúncia e suporte para
          vítimas e suas famílias. Juntos, podemos construir uma sociedade mais
          justa e livre de violência.
        </p>
      </div>
    </div>
  </div>
</div>
<div class="bg-green-100">
  <div class="container">
    <div class="row py-5 gy-3 justify-content-center">
      <div class="col-lg">
        <div class="card h-100">
          <div class="card-body d-flex flex-column align-items-start">
            <img
              class="title-image"
              src="/images/page_with_curl_color.svg"
              alt="Emoji de uma página"
            />
            <h1 class="card-title">Aprenda</h1>
            <p class="card-text">
              Entenda as raízes e impactos do assédio e da violência. Explore
              artigos, vídeos e guias que ajudam a identificar sinais, conhecer
              direitos e agir de forma informada para transformar realidades.
            </p>
            <a href="/posts" class="btn btn-primary w-100 mt-auto"
              >Saiba mais</a
            >
          </div>
        </div>
      </div>
      <div class="col-lg">
        <div class="card h-100">
          <div class="card-body d-flex flex-column align-items-start">
            <img
              class="title-image"
              src="/images/open_file_folder_color.svg"
              alt="Emoji de um arquivo aberto"
            />
            <h1 class="card-title">Apoio</h1>
            <p class="card-text">
              Encontre recursos essenciais como contatos de emergência, linhas
              de apoio, serviços especializados e ferramentas práticas. Tudo o
              que você precisa para enfrentar situações difíceis com segurança e
              suporte.
            </p>
            <a class="btn btn-primary w-100 mt-auto">Saiba mais</a>
          </div>
        </div>
      </div>
      <div class="col-lg">
        <div class="card h-100">
          <div class="card-body d-flex flex-column align-items-start">
            <img
              class="title-image"
              src="/images/open_hands_color_default.svg"
              alt="Emoji de duas mãos abertas"
            />
            <h1 class="card-title">Ajuda</h1>
            <p class="card-text">
              Precisa de orientação imediata? Conecte-se com especialistas,
              acesse nossos canais de denúncia ou descubra como obter suporte
              psicológico e jurídico. Estamos aqui para você.
            </p>
            <a class="btn btn-primary w-100 mt-auto">Saiba mais</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="bg-green-100 text-center">
  <div class="container">
    <div class="row justify-content-center py-5 fst-italic">
      <div class="col-sm-8 display-6">
        "Nosso objetivo é fortalecer a cultura antiassédio no IFCE Campus
        Itapipoca, incentivando a denúncia e promovendo um ambiente seguro e
        respeitoso para todos."
      </div>
    </div>
  </div>
</div>
{{ end }}
