html{
    height: 100%;
}

body{
    font-family: 'IBM Plex Sans';
    height: 100%;
    display: grid;
    grid-template-rows: auto 1fr auto;
}

/* NAVBAR */

.site-navbar{
    padding: 15px;
    height: 70px;
}

/* FOOTER */

.site-footer{
    background-color: var(--green-800);
    color: var(--green-100);
    padding: 15px;
    height: max(100px, 100%);
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.footer-list{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 10px;
}

.divider{
    background-color: var(--green-700);
    width: 100%;
    height: 1px;
    margin: 1em 0;
}