.hero-page{
    height: 80vh;
}

.hero-title{
    font-weight: 900;
    font-size: 8rem;
    display: inline-block;
    width: auto;
    white-space: pre
}

.about-us{
    padding: 7% 15%;
}

.title-image{
    height: 4em;
}

h1{
    font-size: 3rem;
    font-weight: 700;
}

.about-us > p{
    font-size: 1.2rem;
    line-height: 2rem;
}